#wrap{
    width: 1200px;
    margin: auto;
}

header{
    width: 1200px;
    height: 100px;
    background-color: gold;
}

.nav1{
    height: 60px;
    background-color: lightgreen;
}
.contents{
    height: 500px;
}
.contents > .contents1{
    width: 800px;
    height: 500px;
}

.contents > .contents1 > .article1{
    height: 250px;
    background-color: lightpink;
}

.contents > .contents1 > .article2{
    height: 250px;
    background-color: blue;
}
.contents > .contents2{
    width: 400px;
    height: 500px;
    background-color: greenyellow;
}

footer{
    height: 100px;
    background-color: orange;
}

.flex-row{
    display: flex;
}